*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.164);
}
img{
    width: 100%;  
}
.cabeza{
    position: absolute;
    bottom: 270px;
    color: white;
    left: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
ul{
    display: flex;
    position: absolute;
    left: 260px;
    bottom: 550px;
    list-style: none;
   
}
li a{
    text-decoration: none;
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}
.contenido{
    position: relative;
    width: 500px;
    background-color:white ;
}