*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.164);
}

img{
    width: 100%;  
}

.cabeza{
    position: absolute;
    bottom: 270px;
    color: white;
    left: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

ul{
    display: flex;
    position: absolute;
    left: 260px;
    bottom: 550px;
    list-style: none;
   
}

li a{
    text-decoration: none;
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

.contenedor{
    top: 50px;
    position: relative;
    width: 100%;
    
}
.titulo{
    position:absolute;
    left: 150px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}
#foto1{
    position: absolute;
    width: 300px;
    height: 300px;
    right: 150px;
    top: 50px;

}
.parrafo{
    position: absolute;
    top:50px;
    left: 150px;
    width: 50%;
    font-size: 16px;
    font-family: cursive;
    font-weight: 100;
}

.contenedor1{
    position: relative;
    top: 450px;
}

.titulo2{
    position:absolute;
    top: 0px;
    right:150px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 10px; 
}
.parrafo1{
    position: absolute;
    top: 60px;
    right: 150px;
    width: 50%;
    font-size: 16px;
    font-family: cursive;
    font-weight: 100;
    text-align: right;
}
#foto2{
    position: absolute;
    left: 150px;
    top: 60px;
    width: 300px;
    height: 300px;
}
.footer{
    position: relative;
    top: 850px;
    background-color: black;
    width: 100%;
    height: 160PX;  
}
.piepagina{
    position: absolute;
    top: 30px;
    left: 15px;
    color: white;
    font-size: 14px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.informacion{
    position: absolute;
    color: white;
    top: 35px;
    left: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}





