*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.164);
}

img{
    width: 100%;
    
}

.cabeza{
    position: absolute;
    left: 35px;
    bottom: 300px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.menu ul {
    display: flex;
    list-style: none;
    position: absolute;
    left: 230px;
    bottom: 550px;
}

.menu a{
    text-decoration: none;
    margin: 8px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;  
}

.tex1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    padding-left: 100px;
    
}

.contenedor{
    width: 50%;
    height: 50px;
    font-size: 16px;
    font-family: cursive;
    font-weight: 100;
    
}


p{
    padding-bottom: 100px;
    padding-left: 100px;
}

#foto1{
    width: 450px;
    height: 360px;
    position: absolute;
    left: 750px;
}

h2{
   position: absolute;
   left: 750px;
   top: 1050px;
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   
}

.parrafo1{
    width: 50%;
    position: absolute;
    left: 400px;
    top: 1100px;
    text-align: right;
    
    
}

#foto2{
    position: absolute;
    width: 350px;
    height: 330px;
    left: 100px;
    top: 1100px;
    bottom: -110px;
    
}


/*-----padre----*/
.footer{
    position: relative;
    top: 800px;
    background-color: black;
    width: 100%;
    height: 160PX;
    
    
}

/*----hijo-----*/
.piepagina{
    position: absolute;
    top: 30px;
    left: 15px;
    color: white;
    font-size: 14px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    

}

.informacion{
    position: absolute;
    color: white;
    top: 35px;
    left: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}





