*{
    margin: 0;
    padding: 0;
}
/*----inicio del codigo menu y banner------*/
img{
    width: 100%;
    
}

.cabeza{
    position: absolute;
    bottom: 270px;
    color: white;
    left: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

ul{
    display: flex;
    position: absolute;
    left: 260px;
    bottom: 550px;
    list-style: none;
   
}

li a{
    text-decoration: none;
    margin: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}
/*----fin del codigo-----*/